
/* green, light */
:root {
    --bg-color: #333;
    --fg-color: #fff;
    --accent: #00302c;
    --accent-bg: #444;
    --accent-fg: #fff;
    --accent-active: #20635e;
    --accent-button: #001c1a;
    --accent-border: #000c0b;

    --home-tile-bg: #996734;
    
    --border-content: none;
    --border-break-color: #fff;
    --border-break: solid 1px var(--border-break-color);

    --form-bg: #555;
    --form-fg: #fff;

    --form-bg-disabled: #444;
    --form-fg-disabled: #eee;

    --status-busy-fg: var(--accent-fg);
    --status-done-fg: #377020;
    --status-none-fg: #b69e21;
}

/* green, mostly dark */
@media only screen (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --fg-color: #aaa;
        --accent: #00302c;
        --accent-bg: #222;
        --accent-fg: #aaa;
        --accent-active: #20635e;
        --accent-button: #001c1a;
        --accent-border: #000c0b;
    
        --border-content: none;
        --border-break-color: #20635e;
        --border-break: solid 1px var(--border-break-color);
    
        --form-bg: #333;
        --form-fg: #aaa;

        --form-bg-disabled: #222;
        --form-fg-disabled: #999;

        --status-busy-fg: var(--accent-fg);
        --status-done-fg: #377020;
        --status-none-fg: #b69e21;
    }
}

/* pink */
/*:root {
    --bg-color: #888;
    --fg-color: #333;
    --accent: deeppink;
    --accent-bg: pink;
    --accent-fg: #333;
    --accent-active: lightpink;
    --accent-button: hotpink;
    --accent-border: deeppink;
    --home-tile-bg: lightsalmon;
    --border-content: none;
    --border-break-color: pink;
    --border-break: solid 1px var(--border-break-color);
    --form-bg: lightpink;
    --form-fg: #333;
    --form-bg-disabled: palevioletred;
    --form-fg-disabled: #eee;
    --status-busy-fg: var(--accent-fg);
    --status-done-fg: #377020;
    --status-none-fg: #b69e21;
}*/

/* red, light */
/*:root {
    --bg-color: #333;
    --fg-color: #fff;
    --accent: #620000;
    --accent-bg: #444;
    --accent-fg: #fff;
    --accent-active: #990000;
    --accent-button: #500000;
    --accent-border: #750000;

    --border-content: none;
    --border-break-color: #990000;
    --border-break: solid 1px var(--border-break-color);
    
    --form-bg: #555;
    --form-fg: #333;
}*/

/* red, mostly dark */
/*@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --fg-color: #aaa;
        --accent: #620000;
        --accent-bg: #222;
        --accent-fg: #aaa;
        --accent-active: #990000;
        --accent-button: #500000;
        --accent-border: #750000;

        --border-content: none;
        --border-break-color: #990000;
        --border-break: solid 1px var(--border-break-color);

        --form-bg: #333;
        --form-fg: #aaa;
    }
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-fg);
}

a, a:hover, a:visited, a:active, a:focus {
    color: var(--accent-fg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    /*max-width: 280px;*/
    background-color: var(--form-bg);
    color: var(--fg-color);
}

.form-control {
    background-color: var(--form-bg);
    color: var(--form-fg);
}

input[disabled], input[readonly], .form-control[disabled], .form-control[readonly] {
    background-color: var(--form-bg-disabled);
    color: var(--form-fg-disabled);
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

    input:invalid, textarea:invalid, select:invalid {
        color: var(--form-fg);
        background-color: #e4b9b9;
    }

/* selectize */
.selectize-input, .selectize-input.full, .selectize-input.input-active {
    background-color: var(--form-bg) !important;
    color: var(--form-fg);
}

.selectize-control.single input {
    color: var(--form-fg);
}
.selectize-control.single .selectize-input::after {
    border-color: var(--form-fg) transparent transparent transparent;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    background-color: var(--form-bg);
    color: var(--form-fg);
}
.selectize-dropdown .active {
    background-color: var(--form-fg);
    color: var(--form-bg);
}

.text-light {
    color: #DDDDDD !important;
}

.text-prewrap {
    white-space: pre-wrap;
}
    .text-prewrap:before, .text-prewrap:after {
        white-space: normal;
    }

.row-spacer {
    margin: 4px;
}

.border-after {
    border-bottom: var(--border-break);
}
.border-after:last-child {
    border-bottom: 0;
}

.full-width {
    width: 100%;
}

.well, .panel {
    background-color: var(--accent-bg);
    color: var(--accent-fg);
    border: var(--border-content);
    margin-bottom: 1rem;
}

.well.disabled {
    position: relative;
}
.well.disabled::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    background-color: var(--bg-color);
    z-index: 999;
}

.well .well-title {
    padding: 0;
    margin: 0;
}

.need-submit {
    border-color: #a94442;
}

.panel:last-child, .panel-body:last-child {
    margin-bottom: 0;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer,
.panel-default > .panel-collapse > .panel-footer,
.panel-default .tab-pane > .panel-footer,
.modal-content > .modal-header,
.modal-content > .modal-footer {
    color: var(--fg-color);
    background-color: var(--accent);
    border-color: var(--border-break-color);
}
.panel-default > .panel-body,
.panel-default > .panel-collapse > .panel-body,
.modal-content > .modal-body {
    color: var(--accent-fg);
    background-color: var(--accent-bg);
}

.panel-title + .nav-pills {
    margin-left: 10rem;
}

/*.panel.panel-default > .panel-group,
.panel.panel-default .tab-pane > .panel-body {
    max-height: 68vh;
    overflow: auto;
}*/

.modal-content {
    border: var(--border-content);
}

.modal-header .close {
    color: var(--fg-color);
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=30);
    opacity: .3;
}

.modal-body {
    max-height: 70vh;
    overflow: auto;
}


.navbar, .navbar .dropdown-menu {
    background-color: var(--accent);
    color: var(--accent-fg);
}

.navbar .navbar-nav > li > a, .navbar .dropdown-menu a {
    color: var(--accent-fg);
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.navbar-brand {
    background: url('../images/lifestoned-site-logo-240.png') center 0px no-repeat;
    width: 240px;
}

.navbar .dropdown-toggle:after {
    font-family: 'Glyphicons Halflings';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-left: 1px;
    content: "\e252";
}

.navbar.navbar-secondary {
    background-color: var(--accent-active);
    position: fixed;
}

    .navbar.navbar-secondary > .container {
        margin: 0 0 0 0;
        padding: 0 -15px;
    }

.nav-pills > li.active > a {
    background-color: var(--accent-active);
    color: var(--fg-color);
}
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: var(--accent-active);
        color: var(--fg-color);
    }

.nav-tabs > li.active > a {
    background-color: var(--accent);
    color: var(--fg-color);
}

    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: var(--accent);
        color: var(--fg-color);
    }

    .nav-tabs > li.active > a > .badge,
    .nav-pills > li.active > a > .badge {
        background-color: var(--bg-color);
        color: var(--fg-color);
    }

.nav-tabs > li > a, .nav-tabs > li > a:active, .nav-tabs > li > a:visited,
.nav-pills > li > a, .nav-pills > li > a:active, .nav-pills > li > a:visited {
    color: var(--fg-color);
}
    .nav-tabs > li > a:hover,
    .nav-pills > li > a:hover {
        color: var(--bg-color);
    }

.nav-tabs + .tab-content {
    background-color: var(--accent);
    padding: 1.5rem 0;
    border: var(--border-break);
    border-top: 0;
    border-radius: 0 0 5px 5px;
}

.nav-pills.nav-pills-sm > li > a {
    padding: 5px 10px;
}

/* Home Screen */
.jumbotron.home-map {
    background: url('../images/lifeStonedMapBG.png') center top no-repeat;
    display: grid;
}

.jumbotron.home-map > img {
    grid-area: logo;
}

.jumbotron.home-map > div {
    grid-area: tiles;
}

.jumbotron.home-map .panel {
    grid-area: footer;
}

@media (min-width: 300px) {
    .jumbotron.home-map {
        grid-template-areas: 'tiles' 'logo' 'footer';
        grid-template-columns: 100%;
    }
    .jumbotron.home-map > img {
        width: 80vw;
        height: auto;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .jumbotron.home-map {
        grid-template-areas: 'logo tiles' 'footer footer';
        grid-template-columns: 75% 25%;
    }

    .jumbotron.home-map > img {
        width: auto;
        height: 450px;
        margin: 0;
    }
}

.btn-primary, .btn-default {
    background-color: var(--accent-button);
    border-color: var(--accent-border);
    color: var(--fg-color);
}

    .nav > li > a:hover, .nav > li > a:focus,
    .btn-primary:hover, .btn-default:hover {
        background-color: var(--accent-active);
        border-color: var(--accent-border);
        color: var(--fg-color);
    }

.btn-warning {
    color: var(--bg-color);
}

.btn-group {
    margin-bottom: 0.25rem;
}

.tile-notice {
    margin: 2.5rem 0;
    padding: 0.25rem;
    font-size: 2rem;
    color: var(--fg-color);
    text-align: right;
}
    .tile-notice em {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        color: #c7961d;
    }

.tile-button {
    background-color: var(--home-tile-bg); /*#996734;*/
    border-radius: 5px;
    margin: 0.75rem 0;
    padding: 0.25rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--fg-color);
}

.tile-button a {
    color: var(--fg-color);
}

/* Weenie Edit  */

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

    .icon > img {
        vertical-align: top !important;
    }

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.wide {
    max-width: 100%;
}

h3.panel-title {
    display: inline-block;
}

.expand-all {
    float: right;
}

.expand-all:hover {
    cursor: pointer;
}

/*World Release Hashes are long:*/
.table td.hashExpand {
    max-width: 166px;
}

.table td.hashExpand a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.weenie-table > tbody > tr.done td:first-child {
    color: var(--status-done-fg);
}
.weenie-table > tbody > tr.working td:first-child {
    color: var(--status-busy-fg);
}
.weenie-table > tbody > tr td:first-child {
    color: var(--status-none-fg);
}

.table > thead > tr {
    background-color: var(--accent);
}

.table > tbody > tr .btn-secondary {
    background-color: var(--accent-active);
    color: var(--fg-color);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--accent-bg);
    color: var(--accent-fg);
}
.table-striped > tbody > tr:nth-of-type(even) {
    color: var(--accent-fg);
}

.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border-color: var(--accent-fg);
}

.table-hover > tbody > tr:hover {
    background-color: var(--accent-active) !important;
    color: var(--accent-fg) !important;
}

    .table-hover > tbody > tr:hover .btn-secondary {
        background-color: var(--accent-fg) !important;
        color: var(--accent-active) !important;
    }

        .table-hover > tbody > tr:hover .btn-secondary:hover {
            background-color: var(--accent-active) !important;
            color: var(--accent-fg) !important;
        }

.btn-toolbar.stuck {
    position: fixed;
    left: 0;
    top: 7rem;
    margin-left: 0;
}

.btn-toolbar.stuck > .btn-group-vertical {
    display: block;
    margin-top: 0.5rem;
}

.btn-toolbar.stuck .nav > li.active > a {
    background-color: var(--accent-active);
    color: var(--fg-color);
}


a[data-toggle]:before {
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 0.95rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

a[data-toggle=collapse][aria-expanded=false]:before, a[data-toggle=collapse]:before {
    content: "\002b";
}
a[data-toggle=collapse][aria-expanded=true]:before {
    content: "\2212";
}

.dropzone {
    color: var(--form-fg);
    background-color: var(--form-bg);
}

    .dropzone .dz-preview.dz-error .dz-error-message {
        display: none;
    }

ul.typeahead {
    line-height: 1rem;
    max-height: 25rem;
    overflow: auto;
}

/* Spawn Maps */
.spawn-map { }

    .spawn-map .panel {
        /*position: relative;*/
    }

    .spawn-map .links {
        overflow: auto;
        height: 50vh;
        padding-right: 1.5rem;
    }

    .spawn-map .weenies {
        overflow: auto;
        height: 50vh;
        padding: 0;
    }

        .spawn-map .weenies > div {
            border-bottom: var(--border-break);
            padding: 0.5rem 1rem;
        }

            .spawn-map .weenies > div[selected] {
                background-color: var(--accent-active);
            }
            .spawn-map .weenies > div .input-group-addon {
                min-width: 5rem;
            }
            .spawn-map .weenies > div .input-group {
                position: initial !important;
            }

.injectionDiv {
    color: var(--fg-color);
}

.stick-scroll {

}

.stuck-scroll {
    position: fixed;
    top: 50px;
    z-index: 999;
    margin: 0 auto;
}

.stuck-scroll + div {
    margin-top: 55px;
}

@media (min-width: 768px) {
    .stuck-scroll {
        width: 718px;
    }
}

@media (min-width: 992px) {
    .stuck-scroll {
        width: 938px;
    }
}

@media (min-width: 1200px) {
    .stuck-scroll {
        width: 1138px;
    }
}
