@{
    ViewBag.Title = "Quest Table";
}

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="app" class="form-horizontal">
        <lsd-quest-table-search ref="search"></lsd-quest-table-search>
        <lsd-quest-table ref="results"></lsd-quest-table>
    </div>
}


@section scripts {
    @Scripts.Render("~/ui/shared", "~/ui/questTable")

    <script>
        Vue.use(AutoWatchMixin);
        Vue.use(QuestTableStore);
        var questTableStore = makeQuestTableService();

        var app = new Vue({
            el: '#app',
            questTableStore: questTableStore
        });
    </script>
}
