﻿@model Lifestoned.DataModel.Gdle.Quests.QuestChange
@using DerethForever.Web.Controllers
@using Lifestoned.DataModel.Shared

@{
    bool IsApproval = ViewData.Where(kv => kv.Key == "IsApproval").FirstOrDefault().Value as bool? ?? false;
}

<div class="well @(!Model.Submitted ? "need-submit" : "submitted")"
     data-id="@(Model.EntryId)"
     data-type="@(Model.EntryType)"
     data-name="@(Model.Entry.Value.Description)"
     data-user="@(Model.UserName)"
     data-date="@(new DateTimeOffset(Model.SubmissionTime.ToUniversalTime()).ToUnixTimeSeconds())"
     data-patch="@EditorHelpers.GetPatchId(ContentType.Quest, (int)Model.EntryId)">
    <div class="row">
        <div class="col-md-1">
            <div class="icon">
                <img src="@Url.Action("GetImage", "Resource",
                            new { imageId = 0 }) " />
            </div>
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => m.Entry.Value.Description)
            (@Html.DisplayFor(m => m.Entry.Key))<br />
            @Html.DisplayFor(m => m.Entry.Value.MaxSolves) Solves, Repeats @Html.DisplayFor(m => m.Entry.Value.MinDelta, "TimeSpan")<br />
            Submitted by @Html.DisplayFor(m => m.UserName) on @Html.DisplayFor(m => m.SubmissionTimeDisplay)<br />
            <br />
        </div>
        <div class="col-md-5">
            
            @if (!IsApproval)
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" @@click="editQuest(@Model.EntryId)">Edit</button>
                </div>
            }

            @if (!IsApproval && BaseController.CurrentUser.AccountGuid == Model.UserGuid)
            {
                <div>
                    @if (Model.Submitted)
                    {
                        <button data-id="@(Model.EntryId)" data-type="@(Model.EntryType)" class="sandbox-submit btn btn-sm btn-primary">Withdraw Submission</button>
                    }
                    else
                    {
                        <button data-id="@(Model.EntryId)" data-type="@(Model.EntryType)" class="sandbox-submit btn btn-sm btn-warning">Submit for Review</button>
                    }
                    <button data-id="@(Model.EntryId)" data-type="@(Model.EntryType)" class="sandbox-delete btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            }
            @if (IsApproval && User.IsInRole("Developer"))
            {
                <div>
                    <button class="btn btn-sm btn-warning"
                            data-toggle="modal" data-target="#modal-reject"
                            data-user="@(Model.UserGuid)" data-id="@(Model.EntryId)" data-type="@(Model.EntryType)">
                        Reject
                    </button>

                    <button class="sandbox-approve btn btn-sm btn-primary"
                            data-id="@(Model.EntryId)"
                            data-type="@(Model.EntryType)"
                            data-user="@(Model.UserGuid)"
                            data-done="0">
                        Accept
                    </button>

                    <button class="sandbox-approve btn btn-sm btn-primary"
                            data-id="@(Model.EntryId)"
                            data-type="@(Model.EntryType)"
                            data-user="@(Model.UserGuid)"
                            data-done="1">
                        Final Accept
                    </button>
                </div>
            }

        </div>
    </div>
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#@(Html.IdFor(m => m))_@(Model.EntryType)_@(Model.EntryId)" data-toggle="collapse" aria-expanded="false">Change Log Entry</a>
        </div>
        <div id="@(Html.IdFor(m => m))_@(Model.EntryType)_@(Model.EntryId)" class="panel-collapse collapse panel-body">
            @Html.Raw(string.IsNullOrEmpty(Model.ChangeLog.UserChangeSummary) ? "None" : Model.ChangeLog.UserChangeSummary)
        </div>

    </div>

    @Html.DisplayFor(m => m.Discussion, new {
        UserGuid = Model.UserGuid,
        EntryId = Model.EntryId,
        EntryType = "quest" })

</div>

