@using Lifestoned.DataModel.Gdle;
@using Lifestoned.DataModel.Shared
@model Weenie

@{
    ViewBag.Title = "Create " + Model.Name;
}

<br />

@using (Html.BeginForm(Model.IsCloneMode ? "Clone" : "New", "Weenie", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="btn-toolbar stuck">
        <div class="btn-group-vertical" role="group">
            <button id="btnSave" type="button" class="btn btn-primary" title="Save"><i class="glyphicon glyphicon-floppy-save"></i></button>
            <a href="@Url.Action("Edit", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Delete", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
            }
            @*<a id="preview" target="_blank" href="http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}" class="btn btn-primary" title="preview"><i class="glyphicon glyphicon-search"></i></a>*@

            <button id="btnDownload" type="button" class="btn btn-primary" title="Download live edits"><i class="glyphicon glyphicon-download"></i></button>
        </div>

        <ul class="btn-group-vertical nav" role="group">
            <li class="active"><a data-toggle="tab" href="#general" class="btn btn-primary" title="General Properties"><i class="glyphicon glyphicon-list"></i></a></li>
            <li><a data-toggle="tab" href="#creature" class="btn btn-primary" title="Creature Properties"><i class="glyphicon glyphicon-user"></i></a></li>
            <li><a data-toggle="tab" href="#book" class="btn btn-primary" title="Book Pages"><i class="glyphicon glyphicon-book"></i></a></li>
            <li><a data-toggle="tab" href="#createlist" class="btn btn-primary" title="Create List"><i class="glyphicon glyphicon-briefcase"></i></a></li>
            <li><a data-toggle="tab" href="#generator" class="btn btn-primary" title="Generated Items"><i class="glyphicon glyphicon-duplicate"></i></a></li>
            <li><a data-toggle="tab" href="#emote" class="btn btn-primary" title="Emotes"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
            <li><a data-toggle="tab" href="#history" class="btn btn-primary" title="Change Log / History"><i class="glyphicon glyphicon-calendar"></i></a></li>
        </ul>
    </div>

    <div id="app" class="form-horizontal">
        <lsd-weenie ref="weenie" v-model="$weenie.weenie"></lsd-weenie>
    </div>

}

@section scripts {
    @Html.Partial("EditorScript")

    @Scripts.Render("~/bundles/vue", "~/ui/shared", "~/ui/weenie")
    <script>
        Vue.use(WeenieStore);
        var weenieStore = makeWeenieService(@(Model.WeenieClassId), @(Model.IsCloneMode ? "true" : "false"), '@ViewBag.UserGuid');

        Vue.use(AutoWatchMixin);

        var app = new Vue({
            el: '#app',
            weenieStore: weenieStore
        });

        function validate() {
            if (!weenieStore.validate()) {
                alert('Please fill required fields');
                return false;
            }

            var cl = weenieStore.weenie.userChangeSummary;
            if (!cl || cl.length == 0) {
                $("a[href='#history']").click();
                alert("Update Change Log before saving");
                return false;
            } else {
                return true;
            }
            return true;
        }

        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                if (validate())
                    weenieStore.save();

                e.preventDefault();
                e.stopPropagation();
            });

            $('#btnDownload').click(function (e) {
                downloadData(weenieStore.weenie, `${weenieStore.weenie.wcid} - ${weenieStore.weenie.name}`);
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>
}
