@model Lifestoned.DataModel.Gdle.SandboxModel

@{
    ViewBag.Title = "Review Sandbox Changes";
}

<h2>My Sandbox Changes</h2>

<br/>

@if (Model?.Entries == null || Model.Entries.Count() < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    @Html.EditorFor(m => m.Entries, "WeenieChangeList")
}
