﻿
@{
    ViewBag.Title = "Static Spawn Map";
}

<br />

<div id="spawnSearchApp">

    <div class="form-horizontal well">
        <h2>Landblock Search</h2>
        <hr />

        @Html.DisplayFor(m => m, "InfoMessages")

        <div class="form-group">
            <div class="col-md-12">
                <input v-model="criteria" type="text" class="form-control" autofocus placeholder="Search Landblocks" />
            </div>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="row row-spacer">
                <button id="btnNew" type="button" class="btn btn-primary col-md-offset-11" title="New" @@click="newMap">Add New</button>
            </div>
            }

        </div>

    </div>

    <lsd-spawn-list ref="selection" :results="results" @@changed="selectionChanged"></lsd-spawn-list>

    <lsd-spawn-map ref="details" :item="selectedItem" @@save="itemSaved"></lsd-spawn-map>

</div>

@section scripts
{
    @Scripts.Render("~/ui/shared", "~/ui/spawns")

    <script>
        var spawnSearchApp = new Vue({
            el: '#spawnSearchApp',
            data: {
                selectedItem: null,
                criteria: null,
                results: []
            },
            watch: {
                criteria: function (nval, oval) {
                    this.results.splice(0);

                    if (nval.length < 3) return;

                    var $i = this;

                    $.get('Spawn/Search', { query: nval }, function (data) {
                        $i.results.splice(0, $i.results.length, ...data);
                    });
                }
            },
            methods: {
                newMap() {
                    var newId = prompt('Enter new landblock id (decimal value)');
                    if (parseInt(newId) != newId) {
                        alert('Invalid input');
                        return;
                    }
                    var item = {
                        Key: newId,
                        Value: {
                            Weenies: [],
                            Links: []
                        }
                    }
                    $i = this;

                    $.post('Spawn/New', { map: item }, function (data, status, xhr) {
                        $i.selectedItem = Object.assign({}, item);
                        $i.$refs.details.show();
                    }).fail(function () {
                        alert('Failed to create spawn map');
                    });
                },

                selectionChanged(item) {
                    this.selectedItem = Object.assign({}, this.results.find((o) => o.Key == item.Key));
                    this.$refs.details.show();
                },

                itemSaved(item) {
                    $.post('Spawn/Save', { map: item }, function (data) {
                        alert('Changes saved to sandbox');
                        this.$refs.details.hide();
                    });
                }
            },
            mounted() {
            },
            destroyed() {
            }
        });

    </script>

}