@model List<Lifestoned.DataModel.Gdle.SkillListing>

<div class="panel-heading"><h3 class="panel-title">Skills</h3></div>
<div class="panel-body panel-group">

    <div class="row row-spacer">
        <div class="col-md-2"><strong>Name</strong></div>
        <div class="col-md-2"><strong>Status</strong></div>
        <div class="col-md-1"><strong data-toggle="tooltip" title="This is in addition to whatever base value would be calculated from attributes.">Base</strong></div>
        <div class="col-md-1"><strong>Ticks</strong></div>
        <div class="col-md-2"><strong>Xp</strong></div>
        @*<div class="col-md-2"><strong>Effective</strong></div>*@
        <div class="col-md-1 col-md-offset-1"></div>
    </div>


    @for (int i = 0; i < (Model?.Count ?? 0); i++)
    {
        <div class="row row-spacer">
            <div class="col-md-2">
                @Html.HiddenFor(m => m[i].Deleted)
                @Html.HiddenFor(m => m[i].SkillId)
                @Html.HiddenFor(m => m[i].Skill.XpInvested)
                @Html.DisplayFor(m => m[i].SkillName)
            </div>
            @Html.EditorFor(m => m[i].Skill)
            <div class="col-md-1 col-md-offset-3">
                @EditorHelpers.DeleteButton("removeSkill")
            </div>
        </div>
    }

</div>
