﻿@model Lifestoned.DataModel.Gdle.Skill

<div class="col-md-2">@Html.EnumDropDownListFor(m => m.Status_Binder, new { @class = "form-control" })</div>
<div class="col-md-1">@Html.TextBoxFor(m => m.Ranks, new { @class = "form-control" })</div>
<div class="col-md-1">@Html.TextBoxFor(m => m.LevelFromPp, new { @class = "form-control" })</div>
<div class="col-md-2">@Html.TextBoxFor(m => m.XpInvested, new { @class = "form-control" })</div>
@*<div class="col-md-2"><span>1234</span></div>*@

